/* Font import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

/* Body styling */
body {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 20px;
}

/* Header styling */
header {
    color: orangered;
    text-align: center;
    text-transform: uppercase
}

/* Navigation styling */
nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: orangered;
}

a {
    margin: 5px;
}

/* Main content styling */
.main-content {
    padding: 20px;
}

hr {
    border: none;
    border-top: 2px solid #ccc;
    margin: auto;
    margin-top: 0;
    margin-bottom: 30px;
    width: 90%;
}

h1 {
    color: orangered;
    font-size: 4em;
    margin-top: 20px;
    text-align: center;

}

h2 {
    color: #333;
    font-size: 2em;
    margin-top: 30px;
    font-weight: bold;
}

h3 {
    color: #333;
    font-size: 1.5em;
    margin-top: 20px;
    text-decoration: underline;
}

h4 {
    color: #333;
    font-size: 1.2em;
    margin-top: 20px;
}

h5{
    color: #333;
    font-size: 1em;
    font-style: italic;
}

/* Footer styling */
footer {
    background-color: orangered;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Section styling */
section {
    text-align: center;
    margin: 20px;
}

/* Gantt styling */
.photo-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.photo-column img {
    width: 300px;
    height: auto;
}
.photo-column {
    flex: 1;
    margin-right: 20px;
}

.explanation-column {
    flex: 2;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
}

button:hover {
    background-color: orangered;
}

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 120px;
    right: 20px;
    z-index: 99;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
}

#back-to-top-btn:hover {
    background-color: orangered;
}

details{
    cursor: pointer;
}

summary{
    color: #333;
    font-size: 1.1em;
    margin-top: 20px;
}